<div class="movepanel ">
  <!--start player1 section-->
  <div class="media " [ngClass]="{ 'player-turn': whoseTurn} ">
    <div class="media-body ">
      <h5 class="media-heading text-right text-muted ">{{ gameinfo.player_1.name | abbreviateString }}
        <i title="{{gameinfo.player_1.country}}" class="flag-icon-{{gameinfo.player_1.country | lowercase}} flag-icon "></i>
        <i aria-hidden="true " [ngClass]="{ 'fa-male': gameinfo.player_1.gender==='m' ,
                'fa-female': gameinfo.player_1.gender==='f' } " class="fa "></i>
        <ng-template [ngIf]="whoseTurn" title="total score">
          <span>{{gameinfo.turn.totalscore}}</span>
        </ng-template>
        <ng-template [ngIf]="!whoseTurn" title="total score">
          <span>{{gameinfo.player1.prev_turn.totalscore}}</span>
        </ng-template>
      </h5>
      <ng-template [ngIf]=" gameinfo.isLastMove && gameinfo.winner===1">
        <p class="notifywin">
          <strong>Winner!</strong>
          <i class="fa fa-trophy fa-5x" aria-hidden="true"></i>
        </p>
      </ng-template>
      <ng-template [ngIf]="!whoseTurn  && gameinfo.player1.prev_turn && gameinfo.next_turn">
        <p class="nextrack ">
          <em>Next rack</em>
          <strong>{{gameinfo.next_turn.rack}}</strong>
        </p>
        <ul class="list-inline prevmove ">
          <li>
            <em>Last move</em>
            <strong>{{gameinfo.player1.prev_turn.fullword}}</strong>
            <small>{{gameinfo.player1.prev_turn.score}}</small>
          </li>
          <li>
            {{gameinfo.player1.prev_turn.totalscore}}
          </li>
        </ul>
      </ng-template>
      <ng-template [ngIf]="whoseTurn">
        <div class="center-block movegameinfo ">
          <ng-template [ngIf]="currTileSet.length > 0">
            <span class="embossed-heavy tilesm rack" *ngFor="let item of currTileSet">
              {{item.tile | tileBlank }}
              <sub class='tilevalsm'>{{item.value}}</sub>
            </span>
          </ng-template>
          <ul class="list-inline">
            <li title="move" class="text-uppercase">
              <i class="fa fa-pencil"></i>
              <small>{{gameinfo.turn.coord}}</small>
              <i *ngIf="gameinfo.turn.bonus" class="fa fa-bullseye" aria-hidden="true"></i> {{gameinfo.turn.fullword}}
              <em title="other words played" *ngIf="gameinfo.turn.other_words">
                <small>({{gameinfo.turn.other_words.words}})</small>
              </em>
            </li>
            <li title="move score">{{gameinfo.turn.score}} </li>

          </ul>
        </div>
      </ng-template>
    </div>
    <div class="media-right media-middle">
      <img class="media-object" [ngClass]="{'img-rounded':whoseTurn, 'img-circle': !whoseTurn}" width="35px" height="35px" [src]="gameinfo.player_1.photo">
    </div>
  </div>
  <!--end player 1 section-->
  <!--start player2 section-->
  <div class="media" [ngClass]="{'player-turn': !whoseTurn}">
    <div class="media-body">
      <h5 class="media-heading text-right text-muted">{{ gameinfo.player_2.name | abbreviateString }}
        <i title="{{gameinfo.player_2.country}}" class="flag-icon-{{gameinfo.player_2.country | lowercase}} flag-icon"></i>
        <i aria-hidden="true" [ngClass]="{'fa-male': gameinfo.player_2.gender === 'm', ' fa-female': gameinfo.player_2.gender === 'f'}"
          class="fa"></i>
        <ng-template [ngIf]="!whoseTurn" title="total score">
          <span>{{gameinfo.turn.totalscore}}
          </span>
        </ng-template>
        <ng-template [ngIf]="whoseTurn && gameinfo.player2.prev_turn" title="total score">
          <span>{{gameinfo.player2.prev_turn.totalscore }}</span>
        </ng-template>
      </h5>
      <ng-template [ngIf]="gameinfo.isLastMove && gameinfo.winner===2">
        <p class="notifywin">
          <strong>Winner!</strong>
          <i class="fa fa-trophy fa-5x" aria-hidden="true"></i>
        </p>
      </ng-template>
      <ng-template [ngIf]="whoseTurn && gameinfo.player2.prev_turn && gameinfo.next_turn">
        <p class="nextrack">
          <em>Next rack</em>
          <strong>{{gameinfo.next_turn.rack}}</strong>
        </p>
        <ul class="list-inline prevmove">
          <li>
            <em>Last move</em>
            <strong>{{gameinfo.player2.prev_turn.fullword}}</strong>
            <small>{{gameinfo.player2.prev_turn.score}}</small>
          </li>
        </ul>
      </ng-template>
      <ng-template [ngIf]="!whoseTurn">
        <div class="center-block movegameinfo">
          <ng-template [ngIf]="currTileSet.length > 0">
            <span class="embossed-heavy tilesm rack" *ngFor="let item of currTileSet">
              {{item.tile | tileBlank}}
              <sub class='tilevalsm'>{{item.value}}</sub>
            </span>
          </ng-template>
          <ul class="list-inline">
            <li title="move" class="text-uppercase">
              <i class="fa fa-pencil"></i>
              <small>{{gameinfo.turn.coord}}</small>
              <i *ngIf="gameinfo.turn.bonus" class="fa fa-bullseye" aria-hidden="true"></i> {{gameinfo.turn.fullword}}
              <em title="other words played" *ngIf="gameinfo.turn.other_words">
                <small>({{gameinfo.turn.other_words.words}})</small>
              </em>
            </li>
            <li title="move score">{{gameinfo.turn.score}}</li>
          </ul>
        </div>
      </ng-template>
    </div>
    <div class="media-right media-middle">
      <img class="media-object" [ngClass]="{'img-rounded': !whoseTurn, 'img-circle': whoseTurn}" width="35px" height="35px" [src]="gameinfo.player_2.photo">
    </div>
  </div>
  <!--end player2-->
</div>
