<div class="row">
    <div class="col-md-12">
        <table id="board">
            <thead>
                <tr class="markings">
                    <th>
                    </th>
                    <th>
                        a
                    </th>
                    <th>
                        b
                    </th>
                    <th>
                        c
                    </th>
                    <th>
                        d
                    </th>
                    <th>
                        e
                    </th>
                    <th>
                        f
                    </th>
                    <th>
                        g
                    </th>
                    <th>
                        h
                    </th>
                    <th>
                        i
                    </th>
                    <th>
                        j
                    </th>
                    <th>
                        k
                    </th>
                    <th>
                        l
                    </th>
                    <th>
                        m
                    </th>
                    <th>
                        n
                    </th>
                    <th>
                        o
                    </th>
                </tr>
            </thead>
            <tbody #boardplay>
                <tr id="row1">
                    <td class="markings">
                        1
                    </td>
                    <td class="tws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="tws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="tws">
                    </td>
                </tr>
                <tr id="row2">
                    <td class="markings">
                        2
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="tls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="tls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id="row3">
                    <td class="markings">
                        3
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id="row4">
                    <td class="markings">
                        4
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                </tr>
                <tr id="row5">
                    <td class="markings">
                        5
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id="row6">
                    <td class="markings">
                        6
                    </td>
                    <td>
                    </td>
                    <td class="tls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="tls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="tls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="tls">
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id="row7">
                    <td class="markings">
                        7
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id="row8">
                    <td class="markings">
                        8
                    </td>
                    <td class="tws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="cs">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="tws">
                    </td>
                </tr>
                <tr id="row9">
                    <td class="markings">
                        9
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id="row10">
                    <td class="markings">
                        10
                    </td>
                    <td>
                    </td>
                    <td class="tls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="tls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="tls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="tls">
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id="row11">
                    <td class="markings">
                        11
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id="row12">
                    <td class="markings">
                        12
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                </tr>
                <tr id="row13">
                    <td class="markings">
                        13
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id="row14">
                    <td class="markings">
                        14
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="tls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="tls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dws">
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id="row15">
                    <td class="markings">
                        15
                    </td>
                    <td class="tws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="tws">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="dls">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="tws">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
