.badge-pill {
    border-radius: 15px;
    padding: 1.3rem;
}


/* Tile rack styles*/

.tilesm,
.lastmove {
    font-family: 'HelveticaNeueLT Pro 45 Lt', 'Lucida Grande', sans-serif;
    border-radius: 2px;
    max-width: 2.3em;
    max-height: 2.3em;
    width: 2.3em;
    height: 2.3em;
    position: relative;
    margin: 0;
    color: #fff;
    background-color: saddlebrown;
    text-align: center;
    padding: 0.4em 0 0.1em 0.1em;
    font-weight: 500;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}

.tilevalsm {
    /* font-family: Helvetica, Arial, Verdana, 'Lucida Grande', sans-serif; */
    padding-left: 0.2em;
    padding-top: 1em;
    color: #fff;
    background-color: saddlebrown;
    font-weight: 500;
    font-size: 50%;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}

.tilesm.rack {
    display: inline-block;
    font-size: 110%;
    width: 2.2em;
    height: 2.2em;
    margin: 0.5em 0.1em auto;
    font-weight: 500;
}

.tilevalsm.rack {
    font-size: 30%;
}

.embossed-heavy {
    border: 1px solid rgba(46, 4, 4, 0.1);
    box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.3), inset 0 -2px 2px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.5);
}
