<div class="row">
  <div class="col-md-7">
    <h1>
      {{title}}
    </h1>
    <app-games-list [gamedata]="games" (paginationbottomchanged)="onHomePgChanged($event)" (homepaginationchanged)="onHomePgChanged($event)"></app-games-list>
  </div>
  <div class="col-md-5">
    <section id="tagcloud">
      <h4>Browse Games</h4>
      <angular-tag-cloud (clicked)="tagClicked('clicked',$event)" class="animated zoomInLeft" [data]="tagcloud" [width]="options.width"
        [height]="options.height" [overflow]="options.overflow">
      </angular-tag-cloud>
    </section>
  </div>
</div>
